APP_ENV=development
APP_PORT=8081

DB_HOST=localhost
DB_PORT=5432
DB_NAME=sales_leads
DB_USER=postgres
DB_PASSWORD=admin

JWT_SECRET=MyVeryLongSecretKeyThatIsAtLeast256BitsLongForHS256Algorithm
JWT_EXPIRATION=86400
